.HomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SpinnerContainer {
  display: flex;
  justify-content: center;
}

.SearchInput {
  margin-bottom: 1em;
}

.NotFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotFoundSearchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.NotFoundText {
  color: red !important;
}

.PMLevelContainer {
  display: flex;
  align-items: center;
}

.PMLevelValue {
  margin-left: 0.5em;
}

.AirQualityDataCardContainer {
  width: 25em;
}

.AppTitle {
  color: white !important;
}